SUBTITLE_PORT=8097
MEDIA_PATH=./media
BEACONSUBS_API_TOKEN=
BEACONSUBS_TRANSLATION_API_KEY=
BEACONSUBS_DOWNLOAD_MODELS=true
BEACONSUBS_GPU_AUTO_RESET=true
NVIDIA_GPU_DEVICE_ID=0
JAVBEACON_NETWORK=javbeacon_default
